# Ignore everything
*

# Don't ignore directories
!*/

#Track github actions
!.github/**
!/.gitignore
!/post-deploy.sh

# Track only theme folder and its contents
!/wp-content/themes/uuevents/**
!/wp-content/modern-events-calendar/app/skins/**
!/wp-content/modern-events-calendar/app/libraries/**

# But ignore node_modules and vendor within theme
/wp-content/themes/uuevents/._*
/wp-content/themes/uuevents/**/._*
/wp-content/themes/uuevents/node_modules/
/wp-content/themes/uuevents/vendor/
