@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Proxima Nova';
  src: url('~@fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
      url('~@fonts/ProximaNova-ExtrabldIt.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~@fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('~@fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~@fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
      url('~@fonts/ProximaNova-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~@fonts/ProximaNova-BoldIt.woff2') format('woff2'),
      url('~@fonts/ProximaNova-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~@fonts/ProximaNova-Extrabld.woff2') format('woff2'),
      url('~@fonts/ProximaNova-Extrabld.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~@fonts/ProximaNova-RegularIt.woff2') format('woff2'),
      url('~@fonts/ProximaNova-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~@fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('~@fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~@fonts/ProximaNova-Semibold.woff2') format('woff2'),
      url('~@fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body,
html {
  overflow-x: hidden;
}

body {
  @apply text-blue-600 overflow-x-hidden
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
blockquote {
  @apply mb-6 sm:mb-10
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl font-extrabold
}

h2 {
  @apply text-3xl font-semibold lg:text-4xl
}

h3 {
  @apply text-xl font-semibold lg:text-xl
}

h1 br,
h2 br,
.sm-br-block br {
  @apply hidden md:block
}

p:last-child {
  @apply mb-0
}

.default-page h2,
.default-page h3 {
  @apply mb-5
}

.doc-sub-section h3,
.doc-sub-section h4,
.doc-sub-section h5 {
  @apply mb-2 text-xl font-semibold sm:text-xl
}

.form-page-title {
  @apply text-5xl md:text-6xl font-extrabold mb-6
}

.form-page-title-2 {
  @apply text-2xl font-normal mb-6
}

h2.doc-heading {
  @apply flex flex-col xl:block font-extrabold text-white bg-action rounded-md py-5 px-6
}

h3.doc-subheading {
  @apply mb-6 font-bold text-3xl
}

a {
  @apply text-action underline hover:text-action-dark
}

p {
  @apply mb-6
}

p:last-child {
  margin-bottom: 0;
}

blockquote:not(.testimonial-quote) {
  @apply text-action text-lg italic border-l-4 border-gray-200 pl-[18px]
}

.single-post h2 {
  @apply text-3xl leading-10 mb-6 font-bold
}

.subtitle {
  @apply text-action font-semibold uppercase
}

.subtitle.n-case {
  @apply normal-case
}

.swiper-pagination {
  /*@apply flex items-center justify-center mt-10 relative*/
  @apply hidden
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0 !important;
}

.swiper-pagination-lock {
  @apply hidden
}

.swiper-pagination-bullet {
  width: 21px;
  height: 21px;
  border-width: 5px;

  @apply bg-blue-300 border-blue-100 opacity-100
}

.swiper-pagination-bullet-active {
  @apply bg-action border-blue-300 ease-in duration-300
}

.header-hero .custom-underline {
  text-decoration: underline;
  text-underline-offset: 5px;

  @apply decoration-4 decoration-action
}

.header-hero a:not(.crumb) {
  color: #fff;
}

ul.list-checkmarks,
ul.list-video-play {
  margin-left: 0 !important;
}
ul.list-checkmarks li {
  background-image: url("../images/bullet-checkmark.svg");
  background-position: top 5px left;
  background-repeat: no-repeat;
  @apply pl-8 mb-6
}
ul.list-video-play li {
  background-image: url("../images/video-play-purple.svg");
  background-position: left center;
  background-repeat: no-repeat;
  @apply pl-8 p-[14px] border-b border-blue-300
}
ul.list-box.list-checkmarks,
ul.list-box.list-video-play {
  list-style: none !important;
  padding: 1.5rem !important;
}
ul.list-box.list-video-play ul,
ul.list-box.list-checkmarks ul,
ul ul {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media only screen and (min-width: 640px) {
  .podcast-single-play-list li {
    width: calc(50% - 6px);
  }
}

.headline {
  @apply text-2xl mb-5
}

/* Responsive embed */
.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.responsive-embed iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Network map */
body .map-wrap {

  height: 70vw !important;
}

.states-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

#us-map {
  height: auto;
  width: 100%;
  max-width: 1200px;
}

.path,
.circle {
  transition: 300ms stroke-width ease;
}

#path67 {
  fill: none !important;
  stroke: #A9A9A9;
  cursor: default;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: #EAF0F7;
  border-radius: 8px;
  padding: 25px;
  font-family: arial;
  min-width: 200px;
  height: auto;
}

#info-box.show {
  display: block;
}

.map-wrap {
  position: relative;
  height: 100vh;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.network-button button {
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  padding: 12px 24px;
  margin: auto;
  background-color: #3B8BCA;
  color: white;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: none;
  white-space: nowrap;
  min-width: 200px;
  cursor: pointer;
}

.network-button button:hover {
  opacity: .9;
}

.state-name {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #2405A;
}

.state-name img {
  margin-bottom: 0.75rem;
}

#close-bubble {
  position: absolute;
  top: 3px;
  right: 6px;
  color: #000;
}

#close-bubble:hover {
  opacity: .9;
}

#info-box img {
  max-width: 200px;
}

/* Sections */
.component-section {
  @apply px-4 py-14
}

.component-section.alert {
  @apply px-4 py-10 sm:py-10
}

.component-inner-section {
  @apply max-w-7xl px-4 sm:px-8 mx-auto
}

.component-inner-section.fullscreen {
  @apply max-w-none
}

.component-section.padding-collapse {
  @apply py-0
}

.component-section.padding-collapse-all {
  @apply p-0
}

.component-section.padding-collapse-t {
  @apply pt-0
}

.component-section.padding-collapse-b {
  @apply pb-0
}

.component-section.padding-collapse-x {
  @apply px-0
}

.component-section.padding-collapse-y {
  @apply py-0
}

.header-hero {
  min-height: 360px;

  @apply flex items-center
}

.breadcrumbs li {
  @apply opacity-50
}

.breadcrumbs li.current-item,
.breadcrumbs li:hover {
  @apply opacity-100;
}

.breadcrumbs circle:hover,
.breadcrumbs path:hover {
  stroke: none;
  fill: #fff;
}

.top-nav a,
.breadcrumbs a {
  @apply no-underline
}

.single-post .breadcrumbs a:hover,
.archive .breadcrumbs a:hover {
  @apply text-white
}

.basic-button {
  @apply inline-flex justify-center no-underline px-5 py-3 text-base font-medium rounded-md
}

.button {
  @apply w-full sm:w-auto inline-flex justify-center no-underline px-5 py-3 border border-action text-base font-medium rounded-md
}

.button.share {
  @apply py-2
}
.button-solid {
  @apply text-white bg-action border-action 
  hover:border-action-hover hover:bg-action-hover hover:text-white;
}
.button-solid-purple {
  @apply text-white bg-electric-purple border-electric-purple 
  hover:bg-electric-purple-hover hover:border-electric-purple-hover hover:text-white;
}
.button-solid-white {
  @apply text-blue-600 bg-white border-white hover:text-action drop-shadow-sm;
}


.button-hollow {
  @apply text-action bg-transparent border-action
  hover:!text-white hover:bg-action hover:border-action ;
}
.button-hollow-purple {
  @apply text-electric-purple bg-transparent border-electric-purple 
  hover:bg-electric-purple hover:border-electric-purple hover:text-white;
}
.button-hollow-purple img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(64%) saturate(5014%)
  hue-rotate(241deg) brightness(95%) contrast(108%);
}
.button-hollow-white,
.is-dark-bg .button-hollow {
  @apply text-white bg-transparent border-white;
}

.bg-light-gradient .button-hollow,
.bg-light .button-hollow {
  @apply text-action border-action;
}
.bg-light-gradient .button-hollow-purple,
.bg-light .button-hollow-purple {
  @apply text-electric-purple border-electric-purple;
}
.button-hollow-white:hover {
  @apply bg-action border-action !text-white;
}
.button-hollow-purple:hover {
  @apply bg-electric-purple border-electric-purple !text-white;
}
.button svg path, 
.button img {
  fill: #fff;
  opacity: 0.25;
}
.button-solid {
  @apply text-white bg-action
}

.button-solid-white {
  @apply text-action bg-white border-white drop-shadow-sm
}
.button-hollow {
  @apply text-action bg-transparent border-action
}
.button-hollow-white,
.is-dark-bg .button-hollow {
  @apply text-white bg-transparent border-white
}
.button-solid-white:hover,
.button-solid:hover {
  @apply text-white bg-action-dark border-action-dark no-underline
}
.bg-light-gradient .button-hollow,
.bg-light .button-hollow {
  @apply text-action border-action
}
.button-hollow:hover,
.button-hollow-white:hover {
  @apply bg-action-dark border-action-dark text-white
}

.button-text {
  text-underline-offset: 3px;
  @apply text-action text-lg font-semibold px-0 py-6 bg-transparent border-none underline decoration-2 hover:text-action-dark
}
.button-purple {
  @apply border-electric-purple bg-electric-purple text-white
}
.button-purple:hover {
  @apply border-electric-purple-hover bg-electric-purple-hover text-white
}
.acf-icon-action {
  filter: brightness(0) saturate(100%) invert(30%) sepia(100%) saturate(2600%) hue-rotate(199deg) brightness(95%) contrast(105%);
}
.acf-icon-white {
  filter: brightness(0) invert(1);
  opacity: 1!important;
}

.acf-icon-electric-purple {
  filter: brightness(0) saturate(100%) invert(50%) sepia(64%) saturate(5014%)
    hue-rotate(241deg) brightness(95%) contrast(108%);
}

.button-hollow:hover .acf-icon-action {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(5310%)
    hue-rotate(306deg) brightness(112%) contrast(102%);
}
.button-hollow-purple:hover img {
  filter: brightness(0) invert(1);
}

.footer-section ul {
  margin-bottom: 0;
}

.footer-section a {
  @apply no-underline
}

.acf-icon-white {
  filter: brightness(0) invert(1);
}

/* Backgrounds */
.bg-light-gradient {
  background: rgb(238,245,252);
  background: linear-gradient(180deg, rgba(238,245,252,1) 30%, rgba(255,255,255,1) 90%);
}
.bg-dark-gradient {
  background: #216cff;
  background: linear-gradient(180deg, #182A44 30%, #216cff 90%);
}
.carousel-swiper {
  height: 350px;
}

/* News */
#newsAbout h2 {
  @apply mb-4
}

@media only screen and (min-width: 380px) {
  .map-wrap {
    height: 40vh;
    width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  .map-wrap {
    height: 60vh;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .map-wrap {
    height: 100vh;
    width: 100%;
  }
}

@media (min-width: 568px) {
  body .map-wrap {
    height: 60vw !important;
  }
}

@media (min-width: 640px) {
  body .map-wrap {
    height: 70vw !important;
  }

  .header-hero {
    min-height: 520px;
  }

  .single-network .header-hero {
    min-height: 320px;
  }
}

@media (min-width: 992px) {
  body .map-wrap {
    height: 60vw !important;
  }
}

@media (min-width: 1200px) {
  body .map-wrap {
    max-height: 800px !important;
  }
}

/* WP PageNavi */
#ajax-filters {
  background: white;
  padding: 1rem 0.5rem;
  border-radius: 6px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
#ajax-filters button.group {
  padding: 0 1rem;
}
#ajax-filters .filter-drop-menu {
  overflow: hidden;
  margin-top: 10px;
}
#ajax-filters .sf-input-checkbox,
#ajax-filters .sf-input-radio {
  opacity: 0;
}
#ajax-filters li.sf-level-0:hover {
  background: #EEF5FC;
}
.wp-pagenavi {
  margin: 0 auto;
  text-align: center;
  color: #216cff;
  @apply border-t border-blue-300
}
.pagination {
  @apply -mb-4 mt-14 sm:mt-14
}
.pagination::after {
  content: '.';
  clear: both;
  display: block;
  height: 1px;
  opacity: 0;
}
.wp-pagenavi a {
  color: #216cff;
  text-decoration: none;
  font-weight: 500;
  padding: 1rem;
}
.wp-pagenavi a:not(.previouspostslink):not(.nextpostslink) {
  @apply hidden sm:inline-block
}
.wp-pagenavi .current {
  padding: 1rem;
  border-top: 2px solid #216CFF;
  margin-top: -1.5px;
  color: #216CFF;
  @apply hidden sm:inline-block
}
.wp-pagenavi .extend {
  @apply hidden sm:inline-block
}
.page-next,
.page-prev {
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.previouspostslink {
  float: left;
}
.nextpostslink {
  float: right;
}
#ajax-filters ul {
  margin: 0;
  padding: 0;
  list-style: none !important;
}
#ajax-filters ul li::before {
  content: '';
  display: none;
}
#ajax-filters ul li {
  background: none;
  margin: 0;
  padding: 0;
  padding: 1rem;
  border-bottom: 2px solid #eef5fc;
}
#ajax-filters ul li:last-child {
  border: none;
}
#ajax-filters .searchandfilter label {
  display: block;
  width: 100%;
}
#ajax-filters .searchandfilter select.sf-input-select,
#ajax-filters .searchandfilter .sf-input-text {
  width: 100%;
}
#ajax-filters button svg {
  @apply fill-action
}
#ajax-filters [name="_sf_search[]"] {
  background: url("../../resources/images/search.svg") no-repeat;
  background-position: center right;
}

@media only screen and (min-width: 940px) {
  #ajax-filters ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  #ajax-filters ul li {
    background: none;
    margin: 0;
    padding: 10px 1rem;
    border-bottom: none;
    border-right: 2px solid #eef5fc;
  }
  #ajax-filters.greenhouse-filters ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

#ajax-filters.greenhouse-filters ul ul,
#ajax-filters ul ul {
display: flex;
flex-direction: column;
margin: 5px 0;
}
#ajax-filters.greenhouse-filters ul ul li,
#ajax-filters ul ul li {
border: none;
display: flex;
margin: 0;
padding: 0 10px;
font-size: 14px;
font-weight: 400px;
}
#ajax-filters ul ul li label {
padding: 7px 10px;
}
#ajax-filters .sf-field-category,
#ajax-filters .sf-field-search {
display: flex;
justify-content: space-between;
align-items: center;
}
#ajax-filters .sf-option-active {
font-weight: 600;
background-repeat: no-repeat !important;
background-image: url('../../resources/icons/input-checked.svg') !important;
background-position: left 10px center !important;
}
#ajax-filters .sf-field-search {
  padding-left: 1rem;
  @apply mx-4
}
/* Embed Form */
.hbspt-form select,
.hbspt-form textarea,
.hbspt-form input[type="text"],
.hbspt-form input[type="email"],
.hbspt-form input[type="tel"] {
  font-weight: 500;
  font-size: 14px;
  border: solid 1px #D1D5DB;
  border-radius: 6px;
  padding: 9px 13px;
  width: 100%;
}
.hbspt-form .actions {
  @apply mt-4
}
.hbspt-form input[type="submit"] {
  padding: 10px 20px;
  @apply bg-action text-white text-sm font-medium rounded-md
}
.hbspt-form label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  display: inline-block;
}
.hbspt-form .form-columns-2 {
  @apply xl:grid xl:grid-cols-2 xl:gap-6
}
.hbspt-form .form-columns-3 {
  @apply xl:grid xl:grid-cols-3 xl:gap-6
}
.hbspt-form .input {
  margin: 0 !important;
}
.hbspt-form .hs-input {
  width: 100% !important;
  padding: 8px 12px !important;
  @apply rounded-md bg-white border border-gray-300
}
.hbspt-form select {
  @apply w-full
}
.hbspt-form .hs-form-field {
  width: 100% !important;
  margin-bottom: 25px !important;
  float: none;
}
.hbspt-form .hs-form-required {
  @apply text-red-600
}
.hbspt-form .hs-error-msgs {
  @apply absolute text-red-600 italic
}
.hs_error_rollup .hs-error-msgs {
  display: none !important;
}

.demo .hbspt-form input[type="submit"] {
  background-image: url("../icons/sort-descending.svg");
  background-repeat: no-repeat;
  background-position: center right 1rem;
  padding-right: 3rem;
}

.hbspt-form select {
  @apply text-gray-400
}
.hbspt-form select.selected {
  @apply text-brand;
}
/* Gated Page */
#gated-page .description a {
  @apply text-blue-400
}
#gated-page ul {
  @apply ml-12 mb-6
}
#gated-page li {
  @apply mb-3
}
#gated-page li::before {
  content: '\00B7';
  margin-left: -20px;
  width: 0.5em;
  font-family: u0000;
  line-height: 1;
  font-weight: 900;
  font-size: 2.5rem;
  top: 8px;
  right: 1rem;
  position: relative;

  @apply text-action;
}
/* Journey */
.doc-section {
  @apply lg:text-lg
}
.doc-section p:last-child {
  @apply mb-6
}
ul:not(.list-none):not(.mec-categories) {
  @apply ml-5 mb-6
}
ul:not(.list-none) .li {
  @apply mb-3
}
ul:not(.list-none) li:last-child {
  @apply mb-0
}
ul:not(.list-none):not(.list-checkmarks):not(.list-video-play):not(.list-box):not(.mec-categories) li::before {
  content: '\00B7';
  display: inline-block;
  margin-left: -0.5em;
  width: 0.5em;
  font-family: u0000;
  line-height: 1;
  font-weight: 900;
  font-size: 2.5rem;
  top: 8px;
  position: relative;

  @apply text-action;
}
.doc-sub-section:last-child {
  @apply border-0
}
ol.ol-circles li {
  position:relative;
  padding-left:70px;
  min-height:60px;
  margin:20px 0;
}
ol.ol-circles li::before{
  background:#216cff;
  color:#FFF;
  font-weight:400;
  font-size: 1.5rem;
  border:solid 4px #216CFF;
  counter-increment: list-number-inner;
  content: counter(list-number-inner);
  width:56px;
  height:56px;
  border-radius:50%;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left:0;
}
ol.ol-circles ol li {
  list-style-type:none;
}
.section-description::after {
  content: '';
  clear: both;
  width: 100%;
  display: block;
}

/* TOC */
.node-name--H2 {
  padding-left: 32px;
  padding-right: 26px;
  background-image: url("../../resources/icons/chevron-down.svg");
  background-position: top 2px right;
  background-repeat: no-repeat;
  background-size: 26px;
  @apply relative block text-xl mb-4
}
.node-name--H2.is-active-link {
  @apply font-bold text-action
}
.node-name--H3 {
  @apply text-lg
}
.node-name--H3.is-active-link {
  @apply font-semibold
}
.toc-list-item {
  @apply mb-3
}
.toc-list-item a {
  @apply no-underline
}
.toc-list {
  padding: 0 !important;
}
.toc-link::before {
  content: '';
  display: none !important;
}
.js-toc {
  max-width: 285px;
  @apply mb-6
}
.toc-list,
.js-toc-content {
  counter-reset: list-number;
}
ol,
.section-description {
  counter-reset: list-number-inner
}
.toc-list .toc-list-item .node-name--H2::before,
.js-toc-content .doc-heading::before {
  content: counter(list-number) !important;
  counter-increment: list-number;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-right: 25px;
}
.toc-list .toc-list-item .node-name--H2::before {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  left: 0;
  top: 6px;
  @apply lg:absolute bg-brand text-white font-semibold text-base
}
.js-toc-content .doc-heading::before {
  @apply mb-6 xl:mb-0 bg-white text-action
}
.is-collapsible {
  margin-left: 32px !important;
}
.doc-button {
  @apply inline-block text-left py-2 px-5 leading-6 text-base font-medium border no-underline border-action text-action rounded-md
}
.doc-button.download {
  padding-right: 26px;
  background-image: url("../../resources/icons/arrow-down-tray.svg");
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 52px;
}
ul.list-box {
    padding: 1.5rem 1rem 1.5rem 2.5rem;
    border-radius: 6px;
    list-style: disc;
    @apply bg-blue-200 ml-0
}

/* Responsive tables */
@media screen and (max-width: 1279px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    @apply border-b-2 border-gray-300 block
  }

  table td {
    display: block;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    display: block;
  }
}

/* Accordion */
.accordion button {
  background-image: url("../../resources/images/chevron-down.svg");
  background-position: top 8px right;
  background-repeat: no-repeat;
  @apply w-full text-left
}

.accordion .open button {
  background-image: url("../../resources/images/chevron-up.svg");
}

@media and (min-width: 1024px) {
  .accordion button {
    background-position: center right;
  }
}

/* MISC */
.styled-select {
  max-width: 280px !important;
  @apply rounded-md p-1 bg-white rounded-md inline-block md:block
}
#gtranslate_selector {
  padding: 0.25rem 1rem;
  background: transparent;
  background: url("../../resources/images/select-down.svg") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
  width: 100% !important;
}

/* Newsletter Form */
.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}
.newsletter .hbspt-form label {
  display: none;
}
.newsletter .no-list label {
  display:block;
}
.newsletter .hs-button {
  width: 100%;
}
.newsletter form ul {
  margin:0 !important;
  padding:0 !important;
}
.newsletter form li::before {
  content: '' !important;
  display: none !important;
}
.newsletter .hbspt-form .actions,
.newsletter .hbspt-form .hs-form-field {
  margin: 0 !important;
}
.footer-section .hbspt-form input[type=email] {
  min-width: 240px;
}
@media only screen and (min-width: 640px) {
  .newsletter form {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* Password form */
[name="post_password"],
.hbspt-form .hs-input {
  width: 100% !important;
  padding: 8px 12px !important;
  @apply rounded-md bg-white border border-gray-300
}

.post-password-form input[type="submit"] {
  padding: 10px 20px;
  @apply bg-action text-white text-sm font-medium rounded-md mt-6 w-full
}

.bg-gradient-service {
  background: rgb(16,88,144);
  background: linear-gradient(180deg, rgba(16,88,144,0) 0%, rgba(40,116,175,1) 100%);
  opacity: 0;
  transition: all 0.25s linear;
  }

.bg-gradient-clips {
  background: rgb(16,88,144);
  background: linear-gradient(180deg, rgba(16,88,144,0) 0%, rgba(113,47,121,1) 100%);
  opacity: 0;
  transition: all 0.25s linear;
}

  .service-card {
    height: 320px;
    width: 100%;
    margin: auto;
  }
  @media only screen and (min-width: 1024px) {
    .service-card {
      max-width: 100%;
      height: 400px;
    }
  }
  .service-description {
    height: 0;
    transition: all 0.25s linear;
    overflow: hidden;
    max-width: 140px;
  }

  .service-description {
      height: 0px;
  }
  .card-overlay {
    transition: all 0.5s linear;
  }

  .alert a {
    @apply font-bold
  }

  #app .mec-search-form {
    @apply flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 gap-6 items-center mb-10
  }

  #app .mec-dropdown-wrap {
    @apply md:col-span-2
  }

  #app .mec-text-address-search {
    @apply md:col-span-2 lg:col-span-1 pl-4 pr-2 md:px-4 py-4 m-0
    float-none gap-2 md:gap-4 flex items-center bg-white rounded-lg shadow-md overflow-hidden
  }

  #app .mec-sl-map {
    @apply order-2 border-none
  }

  #app .mec-text-address-search input {
    @apply m-0 text-brand text-sm rounded-md px-2 pr-0 md:px-4
  }

  #app .mec-dropdown-search {
    position: absolute;
    left: -5000px;
  }

  #app .mec-event-detail {
    @apply m-0
  }
  .mec-event-detail .mec-categories,
  .mec-event-article .tw-mec-labels-normal {
    @apply flex flex-wrap gap-x-2
  }

  .mec-event-article .mec-label-normal {
    display: none !important;
  }

  .mec-event-detail .mec-category,
  .mec-event-article .tw-mec-label-normal {
    @apply inline-flex text-sm text-brand mt-4 gap-2 px-2 py-1 justify-center items-center no-underline text-brand hover:shadow-inner border-2 border-light rounded-full
  }

  .mec-event-detail .mec-color-hover {
    @apply flex gap-2 items-center
  }

  .mec-event-detail .mec-event-category-color {
    @apply hidden
  }

  #app .mec-wrap .mec-totalcal-box {
    @apply bg-transparent p-0 border-none overflow-visible z-40
  }

  #app .mec-wrap .mec-simple-checkboxes-search {
    @apply p-0 block
  }

  #app .mec-searchbar-category-wrap ul {
    @apply m-0 py-3 md:py-0 flex flex-col md:flex-row bg-white rounded-lg shadow-md overflow-hidden
  }

  #app .mec-simple-checkboxes-search .mec-sl-folder {
    @apply hidden
  }

  #app .mec-searchbar-category-wrap ul li {
    @apply flex-grow
  }

  #app .mec-searchbar-category-wrap ul li::before {
    @apply hidden
  }

  .mec-searchbar-category-wrap label.selectit {
    margin: 0 !important;
    display: flex !important;
    @apply relative leading-normal text-gray-400 md:py-6 py-2 px-4 hover:cursor-pointer items-center gap-2
  }

  .mec-searchbar-category-wrap label.selectit input {
    @apply text-red-500
  }

  .mec-searchbar-category-wrap label.selectit:hover {
    @apply text-brand
  }

  .mec-searchbar-category-wrap ul li:nth-child(2) label::before {
    content: '';
    @apply absolute top-4 bottom-4 left-0 md:border-l md:border-r md:border-pale-blue
  }

  .mec-searchbar-category-wrap ul li:nth-child(2) label::after {
    content: '';
    @apply absolute top-4 bottom-4 right-0 md:border-l md:border-r md:border-pale-blue
  }

  #searchFilterButton {
    margin: 0 !important;
    background: white !important;
    line-height: 1 !important;
    @apply text-gray-400 border-none font-normal text-base rounded-lg py-6 px-4 flex items-center justify-between
  }

  #app .mec-searchbar-category-wrap .selectit input[type="checkbox"] {
    border: none !important;
    @apply w-0 m-0
  }

  #app .mec-searchbar-category-wrap .selectit input[type="checkbox"]::before {
    @apply content-[""]	absolute block bottom-0 left-0 right-0 h-0.5 bg-white border-none md:border-b md:border-white transform-none
  }

  #app .mec-searchbar-category-wrap .selectit:hover input::before {
    content: '';
    @apply absolute block bottom-0 md:bg-brand left-0 right-0 h-0.5
  }

  #app .event-color,
  #app .mec-repeating-label {
    @apply hidden
  }

  #app .mec-event-article img:hover {
    @apply transform-none
  }

  #app .mec-skin-grid-events-container {
    @apply flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 gap-6
  }

  .event-count {
    min-width: 26px;
    @apply bg-light rounded-full px-1 flex justify-center items-center
  }

  #app .mec-searchbar-category-wrap .selectit input:checked ~ .event-count {
    @apply bg-action text-white relative z-10
  }

  #app .mec-searchbar-category-wrap .cat-name {
    @apply px-[10px] md:px-0
  }

  #app .mec-searchbar-category-wrap .selectit input:checked ~ .cat-name {
    @apply text-brand font-semibold relative z-10
  }

  #app .mec-wrap .mec-searchbar-category-wrap .selectit input[type="checkbox"]:before {
    @apply transition-none
  }

  #app .mec-wrap .mec-searchbar-category-wrap .selectit input[type="checkbox"]:checked::before {
    background-repeat: no-repeat !important;
    background-image: url('../../resources/icons/input-checked.svg') !important;
    background-position: left 10px center !important;
    @apply bg-light h-full md:max-h-0.5 md:bg-action
  }

  #app #mec-location {
    position: absolute;
    margin-left: -200000px;
  }

  #app .mec-month-navigator-loading {
    background-image: none;
    @apply bg-light bg-opacity-60 z-40
  }

  #app .mec-load-more-button {
    @apply h-auto max-h-12 text-base px-5 py-3 border-0 capitalize hover:bg-action-dark font-medium bg-action rounded-md text-white inline-flex items-center gap-2 mb-0 mt-6
  }

  #app .mec-load-more-loading {
    content: '';
    @apply opacity-40
  }

  #app .mec-load-more-loading svg {
    animation: rotate 2s infinite linear;
  }

  #app .mec-load-more-button.mec-util-hidden {
    @apply bg-gray-300 cursor-not-allowed
  }

  #app .mec-fes-form {
    @apply bg-white
  }

  #app .mec-fes-form-top-actions {
    @apply hidden
  }

  #app .mec-fes-form .mec-meta-box-fields h4,
  #app .mec-fes-form .quicktags-toolbar,
  #app .mec-fes-form div.mce-toolbar-grp {
    @apply bg-action text-white
  }

  #app .mec-fes-form .mce-toolbar .mce-ico {
    @apply text-white
  }

  #app .mec-fes-form button[type=submit].mec-fes-sub-button {
    letter-spacing: normal;
    @apply bg-action shadow-none rounded-md w-auto font-normal capitalize text-lg
  }

  #app .mec-fes-form input[type="text"],
  #app textarea {
    @apply mb-2 text-brand text-base rounded-md px-2 border border-gray-300 shadow-none
  }

  #app .mec-fes-form .mec-form-row .button {
    @apply border border-gray-300
  }

  #app .mec-fes-form .mec-form-row .button:hover {
    @apply bg-action
  }

  #app .mec-fes-form select {
    @apply border border-gray-300 shadow-none
  }

  #app .mec-meta-box-fields {
    @apply border border-gray-300 rounded-lg overflow-hidden
  }

  #app .mec-form-row p.description,
  #app .mec-fes-form label {
    @apply text-brand
  }

  #app .mce-container * {
    @apply shadow-none
  }
  #app .mce-tinymce.mce-container.mce-panel {
    @apply shadow-none border border-gray-200
  }

  #app .mec-fes-form input[type=checkbox] {
    @apply shadow-none border border-gray-200 mr-2
  }

  .mec-fes-form #mec_bfixed_form_field_types .button, .mec-fes-form #mec_bfixed_form_field_types .button:before, .mec-fes-form #mec_meta_box_tickets_form [id^=mec_ticket_row] .mec_add_price_date_button, .mec-fes-form #mec_reg_form_field_types .button, .mec-fes-form #mec_reg_form_field_types .button:before, .mec-fes-form .html-active .switch-html, .mec-fes-form .mec-attendees-wrapper .mec-attendees-list .mec-booking-attendees-tooltip:before, .mec-fes-form .mec-form-row .button:not(.wp-color-result), .mec-fes-form .mec-form-row .quicktags-toolbar input.button.button-small, .mec-fes-form .mec-meta-box-fields h4, .mec-fes-form .mec-meta-box-fields h4 label, .mec-fes-form .mec-title span.mec-dashicons, .mec-fes-form .tmce-active .switch-tmce, .mec-fes-form .wp-editor-tabs .wp-switch-editor:active, .mec-fes-form input[type=file], .mec-fes-list ul li a:hover {
    @apply text-brand
  }

  #app .mec-text-address-search input:focus {
    @apply outline-1 outline-action
  }

  .related-gradient {
    background: linear-gradient(0deg,#d0deef80,#fff3 20%);
  }

  #app .tw-mec-label-normal {
    @apply border-gray-200
  }

  @keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
  }
